<ion-view title="Services" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="services-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div class="item item-body" id="services-list-item-container1">
      <div id="services-markdown3" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>