<ion-view title="Social Media" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="socialMedia-button4" class="button button-positive  button-block">Facebook @yourName</button>
    <button id="socialMedia-button6" class="button button-energized  button-block">Instagram @yourName</button>
    <button id="socialMedia-button7" class="button button-calm  button-block">LinkedIn</button>
    <button id="socialMedia-button5" class="button button-balanced  button-block">Twitter @yourName</button>
  </ion-content>
</ion-view>